<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Prepare a weekly meal plan.</string>
	<string>Meditate for 15 minutes.</string>
	<string>Exercise for 30 minutes.</string>
	<string>Drink 8 glasses of water throughout the day.</string>
	<string>Get 8 hours of sleep tonight.</string>
</array>
</plist>
