<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Attend an interesting event with a friend.</string>
	<string>Volunteer.</string>
	<string>Meet 10 new people.</string>
	<string>Join a club/organization.</string>
	<string>Give someone a genuine compliment.</string>
</array>
</plist>
